<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Handle Form Submit
  link(rel="stylesheet" href ="/styles/bootstrap.min.css")
body
  .container
    .row
      .col-xs-12
        block content
