<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meadowlark Travel</title>
	<style>
		img {
			max-width: 100%;
		}
	</style>
</head>
<body>
	<header>
		<img src="/img/photo.jpg" alt="Photo">
	</header>
	{{{body}}}
</body>
</html>