<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meadowlark Travel</title>
	<style>
		img {
			max-width: 100%;
		}
	</style>
</head>
<body>
	<header>
<<<<<<< HEAD
		<img src="/img/photo.jpg" alt="Photo">
=======
		<img src="/img/logo.png" alt="Meadowlark Travel Logo">
>>>>>>> 19b9d9d42cd0461b29e4f25033e287e9de85adb7
	</header>
	{{{body}}}
</body>
</html>
