extends ../layouts/default

block content
  form.form-horizontal(method="POST" role="form" enctype="multipart/form-data" action=`/contest/vacation-photo/${year}/${month}`)
    .form-group
      label.col-sm-2.control-label(for="fieldName") Name
      .col-sm-4
        input.form-control#fieldName(type="text" name="name")
    .form-group
      label.col-sm-2.control-label(for="fieldEmail") Email
      .col-sm-4
        input.form-control#fieldEmail(type="email" name="email" required)
    .form-group
      label.col-sm-2.control-label(for="fieldPhoto") Vacation photo
      .col-sm-4
        input.form-control#fieldPhoto(type="file" accept="image/*" name="photo" required)
    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn-primary(type="submit") Submit
